@charset 'iso-8859-1';

*+html #swingbox hr {
	/* IE 7 hr bug fix */
	display: block;
	margin: -5px 0;
}

* html #swingbox hr {
	/* IE 6 hr bug fix */
	display: block;
	margin: -5px 0;
	color: 	#333135;
}
html, body {
	height: 97%;
	font-family: 'Quicksand', sans-serif; 
	background: linear-gradient(to bottom right, #FCFAF9 , #FFFFFF);
}
a{
	text-decoration: none;
	font-family: 'Quicksand';
	width: 100%;
}
a:VISITED {
	color: #FCFAF9; 
}
a:LINK {
	color: #FCFAF9; 
}

select, input[type="text"], input[type="password"]
{
    padding:3px;
    margin: 0px;
    margin-bottom: 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;  
    display: block;  
    width: 99%;
    height: 99%;	
}

h1 {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif; 
}

h2 { 
	font-family: 'Quicksand', sans-serif; 
	font-size: 22px; 
	text-align: left; 
}

/*line-height: 24px; */
label{
	display: inline-block;
	width: 100%;
	text-align: left;
}
 select:selection{
    background-color:transparent;
}
select option {
   background-color:transparent;
}

ul{
	list-style: none;
	width: 100%;
	padding: 0px;
}

ul.Menu {
    display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}
ul.MenuLargo {
    display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: stretch;
   align-content: stretch;
}
ul li{
	/*display: flex;*/
	/*margin-left: 2px;*/
    align-items: center;
    justify-content:center;
    width: 100%;
    /*line-height: 2.5em;*/
	padding: 0px 2px 1px 0px;
}
ul li a {
    text-decoration:none;
    vertical-align:middle;
}

a:hover {
    background: #5F6672;
}


input[type=range]{
    -webkit-appearance: none;
    float: right;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3399ff;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3399ff;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

button{
	font-family: 'Quicksand', sans-serif; 
	color: #FFFFFF;
	border-radius: 2px;

}
#menuPrincipal,
#menuRoute{
	width: 99%;
}
#menuPrincipal li,
#menuRoute li
{
	width: 100%;
}
#reportes,
#menuDisplayRoute{
	width: 99%;
}
#objListaGrupos{
	-webkit-appearance:none;
	overflow: auto;
	width: 100%;
	white-space: nowrap;
}

#map-canvas{
	height:100%; 
	width: 85%; 
	float: right;
}

#frmStreetLG {
	width: 200px;
	height: 610px;
}

#frmStreetLG input{
	width: 100%;
}

#frmEstrucNE {
	width: 200px;
	height: 390px;
	}

#frmEstrucNE input{
	width: 100%;
}
#frmLogin{
	width: 300px;
	height: 140px;
}

#frmAlert{
	width: 275px;
	height: 100px;
	z-index: 105;
}

#swingbox {
	position: absolute;
	top: 23px;
	left: 0px;
	margin-top: -2px;
	padding: 6px 4px;
	text-align: left;
	width: 102px;
	background-color: #fff;
	display: none;
	cursor: default;
	z-index: -1;
}

#swingbox hr {
	height: 1px;
	border: 1px;
	color: #e2e2e2;
	background-color: #e2e2e2;
	margin: 1px 0;
}

#remover {
	color: #a5a5a5;
	text-decoration: none;
	cursor: default;
	text-align: center;
	display: block;
}

#remover.highlight {
	color: #0000cd;
	text-decoration: underline;
	cursor: pointer;
}

#globalconfig{
	width: 90%;
    left: 5%;
    right: 5%;
    height: auto;	
}

#elementos{
	list-style: none;
    -moz-column-count: 2;
    -moz-column-gap: 2.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2.5em;
    column-count: 3;
    column-gap: 2.5em;
    /*background-color: red;*/
    align-items: center;
    width: 99%;
    height: 250px;
}
#elementos li{
	display: inline-block;
    padding-bottom: 5px;    
}

/*ul li:nth-child(2n + 1) {
    background-color: green;
}*/


/*#elementos li:nth-child(2n + 1) {
    float: right;

}*/



.thematicMapItem{
	width: 100%;
	margin-bottom: 2px;
	border-radius: 3px;
}

.btnGenerico{
	background-color: #172144;
	color: #fff;
	font-size: 1.0em;
	text-align: center;	
	height: 38px;
	border-radius: 3px;
}


#btnEdicionStreetLG{
	width: 135px;
	margin-bottom: 20px;
}

#layers{
	font-size: 0.95em;
}

#frmGrupoInterpolar{
	width:250px;
	top:40%;
	left:43%;
}
#frmGrupoInterpolar input{
	width:90%;
	margin-bottom: 5px;
}

#frmRoute{
	width: 100%;
	height: 265px;
}

#boton-salir{
	top: 86%;
	right: 60px;
}
#boton-config{
	top: 86%;
	right: 120px;
}
#boton-insert{
	top: 86%;
	right: 420px;
}
#boton-delete{
	top: 86%;
	right: 240px;
}
#boton-addmant{
	top: 86%;
	right: 480px;
}
#boton-inspctmant{
	top: 86%;
	right: 420px;
}
#boton-layers{
	top: 86%;
	/*right: 300px;*/
	right: 180px;
}
#boton-search{
	top: 86%;
	right: 240px;
}
#boton-admin{
	top: 86%;
	right: 420px;
}
#boton-address{
	top: 86%;
	right: 300px;
}
#boton-route{
	top: 86%;
	right: 360px;	
}
#boton-solicitud{
	top: 86%;
	right: 420px;	
}

#frmRoute{
	width: 100%;
	margin-top: 0px;
	visibility: hidden;
}

#frmRoute{
	position: absolute;
  	top: 52%;
  	left: 0px;
}
#frmRoute{
	z-index: 10;
}
#frmRoute input{
	width:97%;
}

#content{
	width: 100%;
	height: 100%;
	position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

#tiposmapa{
	margin-top: 15px;
	/*background-color: red;*/
}
#id01{
	padding-top: 15px;
	/*background-color: red;*/
}
#elementos li{
	margin-top: 7px;
	width: 300px;
}
#dock img:hover{
	-webkit-transform-origin: center bottom;
  	-webkit-transform: scale(1.25);
}
#frmAdmin{
	height: 85%;
}
#adminMenu{
	width: 100%;

}
#adminMenu li{
	/*align-items: left;
    justify-content: left;*/
}
#adminNav{
	float: left;
	width: 20%;
}
#adminContent{
	float: right;
	width: 80%;
	height: 85%;
}
#icontent{
	width: 100%;
	height: 85%;

}
#adminMenu img{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
#adminMenu a{
	color: #808080;  
}
#adminBoton{
	width: 15%;
}

#objLstZnDisp,
#objLstZnUsr{
	height: 150px;
    width: 330px;
}
.frmContainer{
	padding: 2% 22.5% 0% 22.5%;
}
.frmForm{
	width: 100%;
	height: auto;
}
/*#dock img.nearby{
	-webkit-transform-origin: center bottom;
  	-webkit-transform: scale(1.25);
}*/
/*
CSS for v3 buttons stolen from:
 http://gmaps-samples-v3.googlecode.com/svn/trunk/controls/index.html
*/
/*
.boton-mapa{
	position: absolute;
	float: left;
	z-index: 99;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	/*background-color:transparent;*//*
	width: 25px;
	height: 25px;
	margin: 0 5px;
	padding: 5px;
	background-color: #FCFAF9;
}*/
.boton-mapa img{
	width: 22.5px;
	height: 22.5px;
}
.hidden{
	position: absolute;
	visibility: hidden;
}
.hidden select{
	margin-bottom: 5px;
}
.hidden label{
	text-align: left;
}

.dimmer {
	background: #000;
	position: absolute;
	opacity: .5;
	top: 0;
	z-index: 99;
}
.button, .button-selected, .dropdown {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	text-align: center;
	/*  position: relative; */
	font-family: Arial, sans-serif;
	font-size: 13px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
	color: #000;
	border: 1px solid #717B87;
	background-color: #fff;
}

.button, .button-selected {
	margin: 5px;
	padding: 1px 6px;
	overflow: hidden;
}

.button:hover {
	background: #FEFEFE;
	background: -moz-linear-gradient(top, #FEFEFE 0%, #F3F3F3 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE),
		to(#F3F3F3));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE',
		endColorstr='#F3F3F3', GradientType=0);
}

.button-selected {
	font-weight: bold;
}

.popup {
	width: 67%;
	height: 65%;
	margin-left: 10%;
	margin-top: 5%;

}
.form{
	position: fixed;
	top: 2%;
	right:2%;
	left: 2%;
	float:right;
	overflow:hidden;
	width: 96%;
	height: auto;
	/*background-color: rgba(164, 162, 162, 0.98) !important;*/
	background-color: rgba(249, 248, 247, 0.98) !important;
	visibility: hidden;
	padding: 10px;
	z-index: 100;
}


.clear{
	clear:both;
}
.img{
	width:130px;
	height: 100px;
	border-radius:5px;
	opacity: 0.7;
}

.mapa{
	width: 350px;
	height: 160px;
	opacity: 1;
	margin-bottom: 15px;
	margin-left: 5px;
}
.configMenu {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: center;
   align-content: center;
}

/*MEDIA QUERY*/


@media only screen and (min-width: 1900px) {

	#globalconfig{
		width: 1200px;	
		left: 19%;
		right: 19%;	
	}
  

}


@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {


  
}

@media only screen and (min-width: 1140px) {
  
}
