
body {
    background-color: #f1f1f1;
    background-image: url('../images/page_bg1.jpg');
    position: relative;
}

@media only screen and (min-width: 993px) {
    #login .container {
        max-width: 720px;
    }
}

.loggued #login {
    display: none;
}

.loggued #main {
    display: block;
}

.loggued #main #dock,
.loggued #main #boton-search {
    display: block;
}

#login .row.body {
    padding: 20px;
}

#login .go {
    margin: 20px 0;
}

#login .btn {
    font-weight: bold;
}

#login .container {
    margin-top: 60px;
}

#login .intro p {
    font-size: 18px;
}

#login .container {
    background-color: #fff;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.heading {
    background-image: linear-gradient(to right top, #2CCDD6  0%, #394CD7 100%);
}

.heading a,
.heading h1 {
    color: white;
}

.heading_title {
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    font-size: 18px;
    padding: 0 20px;
    line-height: 44px;
    margin-top: 20px;
    text-shadow: 5px 4px 0 rgba(0, 0, 0, 0.1);
}

.heading_title span {
    display: block;
}

.heading_title span.first {
    font-size: 1.5em;
}

.heading_title span.second {
    font-size: 3.5em;
    font-weight: bold;
}

.heading_title span.third {
    font-size: 1.5em;
    font-weight: bold;
}

.recaptcha {
    margin: 20px 0;
}
/*

.company {
    font-size: 14px;
    margin: 20px 10px 10px;
    color: #888;
    user-select: none;
}
*/