* {
    position: relative;
    box-sizing: content-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    color: #2196F3;
}

table.borderless {
    border: 0 none;
}

ul li {
  width: auto;    
}

body em {
    font-style: normal;
    color: #2196F3;
}
.modal-simple {
    display: none;
    position: absolute;
    left: 32%;
    top: 80px;
    background-color: #fafafa;
    padding: 0 20px 20px;
    width: 80%;
    max-width: 640px;
    height: auto;
    max-height: 540px;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    z-index: 1005;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.modal-simple.open {
    display: block;
}

/* COMMON */
#gcaptcha{
    float: left;
}

.row .collapsible.popout>li {
    padding: 0;
}

.row .collapsible.popout>li.active {
    margin: 0;
}

li::after,
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
    margin-left: -12px;
}


form > .title {
    margin-top: 0;
    text-transform: uppercase;
}

ul.collapsible {
    box-shadow: 0 0 0;
}

.collapsible,
.collapsible-body,
.collapsible-header {
    display: block;
    width: 100%;
    float: left;
}

.row .active .collapsible-header {
    box-shadow: 0 1px 2px #eaeaef;
    z-index: 9;
}

.row .collapsible-header {
    padding-top: 3px;
    padding-bottom: 3px;
    background-image: linear-gradient(#fff, #fcfcfc);
}

.row .collapsible-header h6 {
    padding-right: 30px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.row .collapsible-header em {
    color: black;
}

.row .collapsible-body {
    padding: 0.5rem 1rem;
    background-color: white;
}

.row .collapsible-header h6 {
    margin: .46rem 0;
}

.row .collapsible-header i {
    position: absolute;
    right: 0;
    top: 20%;
    margin-right: 0;
}

.row .input-field>label {
    color: #888;
}

form p {
    display: block;
    width: 100%;
    float: left;
}

.row .col.no-padding-right {
    padding-right: 0;
}
h6 {
    display: block;
    width: 100%;
    float: left;
}

.clear-left,
.clear {
    clear: left;
}

input:-webkit-autofill {
    background-color:transparent !important;
}

select, input[type="text"], input[type="password"] {
    color: #000;
}

.btn.right {
    float: right;
}

div.hideall {
    display: none;
}

.input-field>label.relative {
    position: relative;
}

.no-margin-top {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
#search input,
i {
    user-select: none;
}

.alert strong {
    font-weight: bold;
}

.alert {
    padding: 15px 40px 15px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    float: left;
    width: 100%;
    display: none;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #886d3e;
    background-color: #fdf8e4;
    border-color: #faebcc;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.modal .modal {
    width: 100%;
}

.modal.modal-fixed-footer .modal-footer .btn {
    margin-left: 20px;
}

.modal.modal-fixed-footer .modal-footer .btn:first-child {
    margin-left: 0;
}

.input-field.col label {
    line-height: 1.1;
}

.ttp.tooltipped {
    position: absolute;
    top: 14px;
    right: 12px;
    width: auto;
    z-index: 2;
    user-select: none;
    cursor: pointer;
}

.ttp.tooltipped:hover {
    background: transparent;
}

textarea,
select,
input[type=text],
input[type=email],
input[type=date],
input[type=number] {
    box-sizing: border-box;
    padding-right: 18px;
}

.input-field .tooltipped + input,
.input-field .tooltipped + label + input {
    box-sizing: border-box;
    padding-right: 25px;
}

.input-field .select-wrapper input.select-dropdown {
    box-sizing: border-box;
    padding-right: 25px;
}

.selects-container .select-wrapper input.select-dropdown {
    padding-right: 0;
}

.input-field .tooltipped + .select-wrapper .select-dropdown {
    box-sizing: border-box;
    padding-right: 48px;
}

.input-field .tooltipped + .select-wrapper .caret {
    right:25px;
}

.input-field .select-wrapper ul.select-dropdown {
    width: 100% !important;
    padding: 0 !important;
}

input.valid:not([type]), 
input.valid:not([type]):focus, 
input[type=text].valid:not(.browser-default), 
input[type=text].valid:not(.browser-default):focus, 
input[type=password].valid:not(.browser-default), 
input[type=password].valid:not(.browser-default):focus, 
input[type=email].valid:not(.browser-default), 
input[type=email].valid:not(.browser-default):focus, 
input[type=url].valid:not(.browser-default), 
input[type=url].valid:not(.browser-default):focus, 
input[type=time].valid:not(.browser-default), 
input[type=time].valid:not(.browser-default):focus, 
input[type=date].valid:not(.browser-default), 
input[type=date].valid:not(.browser-default):focus, 
input[type=datetime].valid:not(.browser-default), 
input[type=datetime].valid:not(.browser-default):focus, 
input[type=datetime-local].valid:not(.browser-default), 
input[type=datetime-local].valid:not(.browser-default):focus, 
input[type=tel].valid:not(.browser-default), 
input[type=tel].valid:not(.browser-default):focus, 
input[type=number].valid:not(.browser-default), 
input[type=number].valid:not(.browser-default):focus, 
input[type=search].valid:not(.browser-default), 
input[type=search].valid:not(.browser-default):focus, 
textarea.materialize-textarea.valid, 
textarea.materialize-textarea.valid:focus, 
.select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #2196F3 !important;
    box-shadow: 0 1px 0 0 #2196F3 !important;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after {
    background-color: #2196F3 !important;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
    border-color: #2196F3 !important;
}

.datepicker-table td.is-selected {
    background-color: #2196F3 !important;
}

.datepicker-date-display {
    background-color: #2196F3 !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #2196F3 !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #000 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #2196F3 !important;
}

.modal.modal-fixed-footer .modal-footer {
    bottom: 25px !important;
}

#frmSolicitud.modal.modal-fixed-footer .modal-content {
    position: relative;
}

#frmSolicitud.modal.modal-fixed-footer .modal-content {
    height: calc(100% - 80px);
}

/*  GOOGLE MAP  */

#map-canvas {
    width: 100%;
    z-index: 1;
}

.pac-container.pac-logo {
    z-index: 9999;
}

#login,
#main {
    width: 100%;
    height: 100%;
}

#main #dock,
#main #boton-search {
    display: none;
}

/*  CAPAS  */

#boton-solicitud {
    position: fixed;
    top: 65px;
    right: 5px;
    left: auto;
}

#boton-search {
    position: fixed;
    top: 5px;
    right: 5px;
    left: auto;
}

#boton-search i {
    color: #222;
}

#boton-search {
    background-color: #fafafa;
    color: #222;
}

#boton-search:hover {
    background-color: #ccc;
    color: #222;
}

/*  DOCK  */
#dock {
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 4;
  left: 0;
  width: 100%;
}

#dock .fixed-action-btn {
    right: 60px;
}

#dock ul li {
    display: flex;
}

.boton-mapa {
    display: block;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    float: right;
    clear: both;
}

.btn-floating.boton-mapa i {
    color: #222;
}

#dock .btn-floating.boton-mapa {
    background-color: #fafafa;
    color: #222;
}

#dock .btn-floating.boton-mapa:hover {
    background-color: #ccc;
    color: #222;
}

/*  MENU LAYERS  */

#layers-obj {
    background-image: linear-gradient(to bottom right, #efefef , #FCFAF9);
}

#layers-obj {
    height: 100%;
}
#layers-obj .background {
    background-image: linear-gradient(to right top, #2CCDD6  0%, #394CD7 100%);
    background-image: #2196F3;
    height: 180px;
    margin-bottom: 20px;
}

#layers-obj .background h3 {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 60px 25px;
    line-height: 30px;
    font-weight: bold;
    text-align: right;
    color: white;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

#layers-obj .background h3 span {
    display: block;
}

#layers-obj .background h3 span.first {
    font-size: 1.5em;
}

#layers-obj .background h3 span.second {
    font-size: 3.5em;
    font-weight: bold;
}

#layers-obj .background h3 span.third {
    font-size: 1.5em;
    font-weight: bold;
}

@media only screen and (min-width: 601px) {
    #layers-obj {
        line-height: 24px;
    }
    #layers-obj form {
        height: auto;
    }
}

#layers-obj ul li {
    color: #000;
    cursor: pointer;
    padding: 0 10px;
}

#layers-obj ul li i {
    display: inline-block;
    width: 56px;
    text-align: center;
}

.ecs {
    display: inline-block;
    color: #222;
    position: absolute;
    bottom: 0;
    height: 120px;
    font-size: 12px;
    padding: 20px;
    line-height: 1.5;
}

.ecs a {
    color: #222;
    font-size: 12px;
}

#toggle-menu {
    position: absolute;
    top: 20px;
    left: 20px;
}

/*  SEARCH BAR  */

#search {
    height: 48px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    position: absolute;
    z-index: 5;
    left: 8px;
    top: 8px;
}

#search input {
    width: 240px;
}

#search .menu {
    cursor: pointer;
}

#search input,
#search input:link,
#search input:hover,
#search input:active {
    border-bottom: 0;
    box-shadow: none;
}

#search .btn.btn-action,
#search .btn.btn-action:link {
    margin: 6px 6px 0 0;
    box-shadow: none;
    background-color: #fff !important;
    color: black;
}

#search .btn.btn-action:hover {
    background-color: #2196F3 !important;
    color: white;
}

#frmBuscar .dropdown-content li>a, 
#frmBuscar .dropdown-content li>span {
    color: #000;
}

.box {
    display: block;
    height: 48px;
    min-width: 48px;
    text-align: center;
    line-height: 62px;
    float: left;
}

.g-icon {
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #ddd;
    text-align: center;
    width: 44px;
    height: 44px;
    line-height: 36px;
    cursor: pointer;
    font-size: 44px;
}

.g-icon:hover {
    background-color: #ccc;
}

.g-icon:active {
    background-color: #fafafa; 
}

/* TOOLTIP */
.tooltip.info {
    position: relative;
    display: inline-block;
    user-select: none;
}

.tooltip.info:hover + .tooltiptext,
.tooltip.info + .tooltiptext {
    /* visibility: hidden; */
    width: 94%;
    background-color: #ea4235;
    color: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 7px 21px 7px 9px;
    font-size: 14px;
    line-height: 1.4;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: auto;
    right: 12px; 
    margin-left: -60px;
}

.tooltip.info + .tooltiptext strong {
    font-weight: bold;
}

.tooltip.info + .tooltiptext .xclose {
    color: rgba(255, 255, 255, .8);
    right: 7px;
    top: 4px;
}

.tooltip.info + .tooltiptext .xclose i {
    font-size: 14px;
}

.tooltip.info + .tooltiptext .xclose:hover {
    color: rgba(255, 255, 255, .5);
}

.tooltip.info:hover + .tooltiptext {
    visibility: visible;
}

.tooltip.info + .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: auto;
    right: 15%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: #ea4235 transparent transparent transparent;
}

/* MODAL ESTATICO */
#openLayer h5 {
    margin-top: 0;
}

/*  MODALS/FORMS  */

#frmSolicitud {
    height: 100%;
}

#frmSolicitud form {
    height: 100%;
}

.modal .row {
    margin-bottom: 0;
}

div .btn-close {
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    width: auto;
    color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

div .btn-close:hover {
    color: #2196F3;
}

.btn.btn-flat.blue {
    color: white;
}

.fixed-window {
    display: block;
    position: absolute;
    left: 32%;
    top: 80px;
    background-color: #fafafa;
    padding: 0;
    width: 80%;
    max-width: 420px;
    height: 50%;
    max-height: 540px;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    z-index: 1;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.fixed-window .window-content {
    padding: 24px;
}

@media (min-width: 992px) {
    .fixed-window {
        width: 55%;
    }
}

#objListaGrupos {
    margin-bottom: 0;
}

#objListaGrupos li {
    text-align: left;
    margin-bottom: 3px;
    float: left;
    width: 100%;
    font-size: .95em;
}

#objListaGrupos li span {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
}

#loader {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

#loader.hidden {
    display: none;
}

#loader {
    z-index: 9999;
}

#loader .preloader-wrapper {
    display: block;
    position: fixed;
    left: 50%;
    margin-left: -24px;
    top: 40%;
}

.tap-target p,
.tap-target h5 {
    color: white;
}

#openLayer_draggable{
    background-color: #dfdfdf;
    position: absolute;
    width: 100%;
    left: 0;
    top: 6px;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 1px;
    cursor: move;
    width: 16%;
    margin-left: 42%;
    border-radius: 5px;
    border-bottom: 1px solid #fefefe;
}

.stepper .tab {
    display: none;
}

.tab .input-field .helper-text {
    min-height: 0;
    line-height: 1.25;
    margin-top: -2px;
}
.tab .input-field .helper-text.error {
    min-height: 18px;
    color: #000;
}

.xclose {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    width: auto;
    color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    font-size: 18px;
}

.xclose:visited,
.xclose:link {
    color: rgba(0, 0, 0, 0.5);
}

.xclose:hover {
    background-color: transparent;
    color: #2196F3
}

.elemento.invalid input.select-dropdown,
.elemento.invalid input.select-dropdown:focus {
    border-bottom: 1px solid #F44336 !important;
}

.elemento.input-field .helper-text {
    display: none;
}

.elemento.invalid.input-field .helper-text {
    display: block;
}