h1 {
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

h2 { 
	color: #666680; 
	font-family: 'Montserrat', sans-serif; 
	font-size: 22px; 
	font-weight: 50; 
	line-height: 24px; 
	text-align: left; 
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 200px;
}
ul{
	list-style: none;
}

img{
	width:130px;
	height: 100px;
	border-radius:5px;
	opacity: 0.7;
}

input[type=range]{
    -webkit-appearance: none;
    float: right;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3399ff;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3399ff;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

button{
	font-family: 'Montserrat', sans-serif; 
	color: #FFFFFF;
	border-radius: 2px;

}


a {
	font-family: 'Montserrat', sans-serif; 
	background-color: #666680;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 3px;
	padding:5px;
	vertical-align: middle;
	margin-right: 20px;
}

#logo{
	position: fixed;
	top: 0px;
	right: -3px;
	float:right;
	width: 25%;
	height: 150px;
	overflow:hidden;
	/*background-color: yellow;*/

}

#reportes{
	/*background-color: red;*/
	float: left;
	overflow:hidden;
	width: 60%;
	padding-left: 20px;
}
#id01{
	padding-top: 15px;
	/*background-color: red;*/
}


#elementos li{
	margin-top: 7px;
	width: 300px;
}


.form{
	
	float: left;
	overflow:hidden;
	width: 100%;
	height: 100%;
	padding-left: 20px;
}

.mapa{
	float: left;
	width: 350px;
	height: 160px;
	opacity: 1;
	margin-bottom: 15px;
	border-radius:5px;
	margin-left: 5px;
}
.clear{
	clear:both;
}